$color-custom-green: #089846;
$color-custom-teal: #008b8b;
$color-custom-bluedark: #084c98;
$color-custom-bluelight: #0879a2;
$color-custom-bluesky: #86d6d8;
$color-custom-brown: #3e1700;
$color-custom-lightyellow: #fff2c3;

$padding-page: 10px;
