/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


			/* global style factorised here and prefixed by gs */

.gs-box {
	padding: 10px;
	border-radius: 35px;
	border: solid black 2px;
	background-color: $color-custom-bluelight;
	box-shadow: 1px 1px 4px, -1px -0.5px 4px;
}

.gs-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid white 2px;
	transition: border ease-in-out 0.2s;
	border-radius: 50%;
	background-color: $color-custom-bluedark;
	padding: 4px;
	color: white;
	box-shadow: black 1px 1px 1px 1px;

	&--text {
		$height-text-button: 20px;
		height: $height-text-button;
		line-height: $height-text-button / 2;
		border-radius: $height-text-button / 2;
		overflow: hidden;
		text-overflow: ellipsis;
		background-color: $color-custom-bluedark;
		font-family: "Indie Flower", cursive;
		color: white;
		font-size: 14px;
		text-align: center;
		padding: 5px;
		margin: 5px;
		border: 1px solid white;
		box-shadow: black 1px 1px 1px 1px;
	}

	&:active {
		position: relative;
		top: 1px;
		left: 1px;
	}
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
	//TODO media querries: no hover on phones
	&:hover {
		border: solid white 4px;
	}

	&:focus {
		outline:0;
	}

	& svg {
		width: 80%;
		fill: currentColor !important;
		cursor: inherit;
	}
}

.gs-current-input {
	width: 100%;
	height: 100%;
	padding: 10px;
	border-radius: 10px;
	background-color: $color-custom-teal;
	box-shadow: 1px 1px 4px, -1px -0.5px 4px;
	&__invalid-reason {
		color: red !important;
	}

	&--icons {
		height: 182px; //= 3*50heightIcons + 3*(2+2)iconsMargins + 2*10ContainerPadding
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		overflow-y: scroll;
	}
}

.gs-current-input__label{
	font-family: 'Indie Flower', cursive;
	color: white;
	font-size: 16px;
}

.gs-current-input__input{
	margin-top: 2px;
	height: 30px;
	font-size: 16px;
	width: 70%;
	border-radius: 30px;
	padding: 0 10px 0 10px;
	background-color: white;
	font-family: 'Indie Flower', cursive;
	color: darkslategray;
	border: solid $color-custom-green 3px;
	box-shadow: 1px 1px 4px, -1px -1px 4px;
	outline:0;

	&--invalid {
		border: solid red 3px !important;
	}

	&--date {
		height: 40px;
		padding: 16px;
		margin-top: 15px;
		@include center;
	}
	&--date .mat-form-field{
		width: 95%;
		font-family: 'Indie Flower', cursive;
		font-weight: 800;
	}

	// &--date .mat-input-placeholder-wrapper {
		//   font-family: 'Indie Flower', cursive;
		// }

}

.gs-popup {
	@extend .gs-box;
	border-radius: 15px;
	width: 70%;
	margin: auto;

	& mat-dialog-container {
		box-shadow: none;
		background-color: transparent;
		border: none;
		width: 100%;
		height: 100%;
		padding: 0px;
	}
}

.gs-shadow-backdrop {
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: absolute;
	z-index: 8000;
}

.gs-text {
	font-family: "Indie Flower", cursive;
	color: white;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}

			/* end global style */











.current-input .mat-calendar-body-today, .current-input .mat-calendar-body-selected {
  background-color: pink !important;
}

* {
    box-sizing: border-box;
}
svg {
  fill:black !important;
  user-select: none;
  stroke: black;
}

body > svg {
  display: none;
}

html {
    height: 100vh;
    background-color: $color-custom-bluesky;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    margin:  0px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
