<div *ngIf="isAwaitingConfirmation">
	Thank you!

	We have sent an email to {{registerForm.value.email}}.

	Please click the link in that message
	to activate your account.
</div>

<form *ngIf="!isAwaitingConfirmation" class="form-container gs-box" (ngSubmit)="register()" [formGroup]="registerForm">
	<div class="gs-text">
		Register:
	</div>

	<br>

	<div class="input">
		<div><label class="gs-text">Username</label></div>
		<input
			formControlName="username"
			[ngClass]="{'gs-current-input__input': true, 'gs-current-input__input--invalid': isShowingInvalid('username') }"
		>
	</div>

	<div class="input">
		<div><label class="gs-text">Email</label></div>
		<input
			formControlName="email"
			[ngClass]="{'gs-current-input__input': true, 'gs-current-input__input--invalid': isShowingInvalid('email') }"
		>
	</div>

	<div class="input">
		<div><label class="gs-text">Password</label></div>
		<input
			formControlName="password"
			type="password"
			[ngClass]="{'gs-current-input__input': true, 'gs-current-input__input--invalid': isShowingInvalid('password') }"
		>
	</div>

	<div class="input">
		<div><label class="gs-text">Password Verification</label></div>
		<input
			formControlName="passwordVerification"
			type="password"
			[ngClass]="{
				'gs-current-input__input': true
				, 'gs-current-input__input--invalid': isShowingInvalid('passwordVerification') || registerForm.errors?.value == 'passwordMatching'
			}"
		>
	</div>


	<button class="gs-button form-button">
		Register
	</button>
</form>
