/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';

* {
    box-sizing: border-box;
}
svg {
    fill:black !important;
}

body {
    margin: 0px;
}

li {
    display: block;
}

html {
    background-image: url(../assets/radialbackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}