@import "~sass/variables";

:host {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas:
      "sel sel sel sel sel sel sel sel sel sel sel sel"
      "sel sel sel sel sel sel sel sel sel sel sel sel"
      "sel sel sel sel sel sel sel sel sel sel sel sel"
      "sel sel sel sel sel sel sel sel sel sel sel sel"
      "sel sel sel sel sel sel sel sel sel sel sel sel"
      "sel sel sel sel sel sel sel sel sel sel sel sel"
      "sel sel sel sel sel sel sel sel sel sel sel sel"
      "lst lst lst lst lst lst lst lst lst lst lst lst "
      "lst lst lst lst lst lst lst lst lst lst lst lst "
      "new new new new new new new new new new new new"
      "new new new new new new new new new new new new"
      "new new new new new new new new new new new new";
}

.aliment-details {
  grid-area: sel;
  padding: 10px;
}

.crossgridcontainer {
  grid-area: new;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cross {
  background-color: $color-custom-bluedark;
  border-radius: 50%;
  border: 2px solid white;
  width: 50px;
  height: 50px;
}

.cross--clicked {
  margin: auto;
  animation: implode 0.2s;
  width: 0px;
  height: 0px;
  border: none;
}

.cross__svg {
  margin: auto;
  fill: white !important;
}

.iconband {
    grid-area: lst;
    position: relative;
    overflow: hidden;
    margin-left: -$padding-page;
    margin-right: -$padding-page;


    &__sideshadow {
        position: absolute;
        z-index: 100;
        top: -3px;
        bottom: -3px;
        width: 10px;
        &--left {
            box-shadow: inset 4px 0px 8px 0px white;
            left: 0;
        }

        &--right {
            box-shadow: inset -4px 0px 8px 0px white;
            right: 0;
        }
    }

    &__scrollable {
        overflow-x: scroll;
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
}

.icon {
    height: 20px;
    border: solid black 1px;
    width: 20px;
    margin: auto;
}
