<app-aliment-details [aliment]="selectedAliment" class="aliment-details">
</app-aliment-details>

<div class="iconband">
    <div class="iconband__sideshadow iconband__sideshadow--left"></div>
    <div class="iconband__sideshadow iconband__sideshadow--right"></div>
    <ul class="iconband__scrollable">
        <li *ngFor="let elem of listAliments; index as i">
            <app-aliment [aliment]="elem" [i]="i" [isSelected]="i==indexSelectedAliment" (posAlimentSelected)="posElementSelected($event)"></app-aliment>
        </li>
    </ul>
</div>
<!-- TODO block with delete modify filter by category -->
<div class="crossgridcontainer">
  <button [ngClass]="startCrossAnimation ? 'cross cross--clicked' : 'cross'" (click)="startCrossAnimation = true" (animationend)="router.navigate(['new-aliment'])">
      <svg viewBox="0 0 100 100" class="cross__svg">
          <use xlink:href="#icon-newCross"/>
      </svg>
  </button>
</div>


