@import "~sass/variables";
@import "~sass/atomic-classes";
@import "~sass/mixins";

.form-container {
	@include center;
	flex-direction: column;
	position: relative;
	top: 25vh;
	border-radius: 10px;

	& .input {
		margin: 10px;
	}

	& input {
		width: 100%;
	}
}

.form-button {
	border-radius: 12px;
	padding: 5px;
	margin: 5px;
	width: 38%;
}

.button-group {
	display: flex;
	width: 100%;
	padding: 10px;
	justify-content: center;
	flex-wrap: wrap;
}
