<div class="form-container gs-box">
	<form (ngSubmit)="login()" [formGroup]="loginForm">
		<div class="gs-text">
			Log into the app:
		</div>

		<br>

		<div class="input">
			<div><label class="gs-text">Username</label></div>
			<input
				id="username"
				formControlName="username"
				[ngClass]="{'gs-current-input__input': true, 'gs-current-input__input--invalid': false }"
			>
		</div>

		<div class="input">
			<div><label class="gs-text">Password</label></div>
			<input
				id="password"
				formControlName="password"
				type="password"
				[ngClass]="{'gs-current-input__input': true, 'gs-current-input__input--invalid': false }"
			>
		</div>

		<div class="button-group">
			<button class="gs-button form-button" id="log-in-button">
				Log In
			</button>
		</div>
	</form>

	<div class="button-group">
		<button
			id="register-in-button"
			class="gs-button form-button"
		(click)="goToRegistrationPage()">
			Register
		</button>
		<button
			id="guest-button"
			class="gs-button form-button"
		(click)="fillGuestInfo()">
			Fill guest crendentials
		</button>
		<button
			id="reset-password-button"
			class="gs-button form-button"
		(click)="goToForgottenPasswordPage()">
			Forgot Password
		</button>
	</div>

</div>
