@import '~sass/variables';
@import '~sass/atomic-classes';
@import '~sass/mixins';

.maincontent {
	height: 100vh;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color: $color-custom-bluesky;
}

.page {
	grid-column: 1 /13;
	grid-row: 1/12;
	overflow-y: auto;
	padding: $padding-page;
}

.footer {
	grid-column: 1/13;
	grid-row: 12/13;
	display: flex;
	align-items: center;
	padding-bottom: 10px;
}

.spinner-bg {
	background-color: rgba(255, 255, 255, 0.5);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: absolute;
	z-index: 8000;
	@include center;
}

.container-desktop {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	@include center;
}
.maincontent-desktop {
	max-width: 340px;
	max-height: 600px;
	margin: auto;
	position: relative;
	border: solid black 5px;
	border-radius: 26px;
	overflow: hidden;
}
