@import "~sass/variables";
@import "~sass/atomic-classes";
@import "~sass/mixins";

.maincontent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
}

.page {
    grid-column: 1 /13;
    grid-row: 1/12;
    overflow-y: scroll;
    padding: $padding-page;
}

.footer {
  grid-column: 1/13;
  grid-row: 12/13;
  display: flex;
  align-items: center;
}
