@import '~sass/variables';
@import '~sass/mixins';
@import '../menu.component.scss';

:host {
	@include center;
	transform: translateX(-18px);
	//css leaking I do not know why:
	margin: initial;
	width: 0px;
}
.menu-item {
	@include menuButton();
	position: absolute;
	width: 55px;
	height: 55px;
}
