<div class="this">

    <app-aliment-details [aliment]="selectedAliment" class="aliment-details">
    </app-aliment-details>
    <div class="iconband">
        <div class="iconband__sideshadow iconband__sideshadow--left"></div>
        <div class="iconband__sideshadow iconband__sideshadow--right"></div>
        <ul class="iconband__scrollable">
            <li *ngFor="let elem of listAliments; index as i">
                <app-aliment [aliment]="elem" [i]="i" [isSelected]="i==indexSelectedAliment" (posAlimentSelected)="posElementSelected($event)"></app-aliment>
            </li>
        </ul>
    </div>
    <div class="new-aliment"></div>

</div>
