<div class="container">
  <svg viewBox="0 0 100 100" class="aliment__svg">
      <use [attr.xlink:href]="'#' + aliment?.iconicFontName"/>
  </svg>

  <div class="line__containor">
    <div class="line"><span class="line__label">Name : </span>{{ aliment?.name }}</div>
  </div>

  <div class="line__separator"></div>

  <div class="line__containor">
    <div class="line"><span class="line__label">Category : </span>{{ aliment?.category }}</div>
  </div>

  <div class="line__separator"></div>

  <div class="line__containor">
    <div class="line"><span class="line__label">Expiration date : </span>{{ aliment?.expirationDate | date:'longDate'  }}</div>
  </div>

  <div class="line__separator"></div>

  <div class="line__containor">
    <div class="line"><span class="line__label">Stored date : </span>{{ aliment?.storedDate | date:'longDate'  }}</div>
  </div>

  <div class="line__separator"></div>

  <div class="line__containor">
    <div class="line"><span class="line__label">Quanitity : </span>{{ aliment?.quantity + ' ' + aliment?.quantityUnit }}</div>
  </div>

  <button [ngClass]="startCrossAnimation ? 'icon-edit icon-edit--clicked' : 'icon-edit'" (click)="startCrossAnimation = true" (animationend)="navigateToEdit()">
    <svg viewBox="0 0 100 100" class="icon-edit__svg">
      <use xlink:href="#icon-005-pencil-striped-symbol-for-interface-edit-buttons"/>
    </svg>
  </button>


</div>
